# Tugas Kecil II Intelegensi Buatan

In [32]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris 
from sklearn.model_selection import train_test_split, KFold
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

## a. Membaca Dataset

### Iris Dataset

In [34]:
iris_data = load_iris()
iris_X = pd.DataFrame(iris.data)
iris_y = pd.DataFrame(iris.target)

In [36]:
iris_X.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [37]:
iris_y.head()

   0
0  0
1  0
2  0
3  0
4  0

### Play Tennis Dataset

In [38]:
tennis_data = pd.read_csv('weather.nominal.csv')
tennis_X = tennis_data.drop(["play"], axis=1)
tennis_y = tennis_data["play"]

In [39]:
tennis_X.head()

    outlook temperature humidity  windy
0     sunny         hot     high  False
1     sunny         hot     high   True
2  overcast         hot     high  False
3     rainy        mild     high  False
4     rainy        cool   normal  False

In [40]:
tennis_y.head()

0     no
1     no
2    yes
3    yes
4    yes
Name: play, dtype: object

## b. Full-training

### Naive Bayes

### Decision Tree

### kNN

### MLP

## C. Training with *train-test split*

### Train-test split

In [45]:
iris_X_train, iris_X_test, iris_y_train, iris_y_test = train_test_split(iris_X, iris_y, test_size=0.1)

### Training Models

#### NaiveBayes

#### Decision Tree

#### kNN

#### MLP

## D. Training with *K-Fold* split

### K-Fold split

In [55]:
def train_k_fold(k, model):
    # define metrics here, can be accuracy, error, etc.
    # the metrics will be accumulated and the average/variance will be calculated for k times
    kf = KFold(10)
    for train_idx, test_idx in kf.split(iris_X):
        iris_X_train, iris_X_test = iris_X.loc[train_idx], iris_X.loc[test_idx]
        iris_y_train, iris_y_test = iris_y.loc[train_idx], iris_y.loc[test_idx]
        # Train model here and accumulate metrics
        # model.fit(iris_X_train,iris_y_train)
        # iris_y_predict = model.predict(iris_X_test)
    
    # returns the accumulated metrics

### Training Models

#### Naive Bayes

In [58]:
# Example purposes only, pls refer to the docs for adjusting model params.
# nb_clf = GaussianNB()
# train_k_fold(10, nb_clf)

#### Decision Tree

#### kNN

#### MLP

## E. Save model to external file

## F. Read model from external file

## G. Make new model instance

## H. Classification with Models

### Naive Bayes

### Decision Tree

### kNN

### MLP